/* ThemeRoller Eggplant override style sheet for jQuery date picker v5.0.0. */
@import "ui.datepick.css";

.ui-widget-header a, .ui-widget-header select {
	color: #ffffff; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #eae6ea;
	/* Set (.ui-state-hover) colours from theme here */
	color: #734d99;
}

.ui-widget-header select, .ui-widget-header option {
	background-color: #30273a;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #fafafa; /* Set (.ui-state-highlight) colour from theme here */
}